{% extends 'navbar.html' %}
{% block content %}
{% load static %}


<style>
    body{
        background-image: url('{% static "images/course.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
    }
    
</style>




<center><h1 class="text-warning mt-5">Add Course</h1></center>
<div class="container bg-success mt-3" style="border-radius: 10px; width:40%">
    <form action="{% url 'add_course' %}" method="post" class="form pt-5 pb-5" style="width: 50%; margin-left:25%">
        {% csrf_token %}
    
 
        <input type="text" name="cname" class="form-control" placeholder="Enter Course Name" style="text-align: center;"><br>
        <input type="number" name="cfee"class="form-control" placeholder="Enter Course Fee" style="text-align: center;"><br>
      
        
        <button type="submit" class="btn btn-primary" style="margin-left: 35%; width:100px;">Submit</button>
      
    </form>
 </div>
 {% endblock %}